body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #111;
}

/* SOBRE LA MARCA */
.sobre-marca {
  display: flex;
  padding: 40px;
  gap: 20px;
  align-items: center;
}

.texto-marca {
  flex: 1;
}

.imagen-marca {
  flex: 1;
}

.imagen-marca img {
  width: 100%;
  border-radius: 12px;
}

/* CATEGORÍAS */
.categorias {
  padding: 40px;
  text-align: center;
}

.grid-categorias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.categoria {
  text-decoration: none;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
}

.categoria:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px #aaa;
}

.categoria img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.categoria h3 {
  margin: 10px;
}

/* PRODUCTOS */
.titulo-categoria {
  text-align: center;
  padding: 20px;
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.producto {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 10px;
}

.producto img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.producto h3 {
  margin: 10px 0 5px;
}

.producto p {
  color: #333;
  font-weight: bold;
}
